<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
    	http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
    
	<!-- xml声明事务需要：1、2、3、4、5.1、5.2、5.3 -->
	<!-- 注解声明事务需要：1、2、3、4、5.1、5.*。还需在需要事务管理的方法上添加@Transactional注解-->
    <!-- 1、加载连接数据库配置文件 -->
    <context:property-placeholder location="classpath:db.properties"/>
    <!-- 2、配置数据库连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<!-- 连接的基本信息 -->
		<!-- 连接驱动 -->
		<property name="driverClass" value="${driverClass}"/>
		<!-- 连接URL -->
		<property name="jdbcUrl" value="${jdbcUrl}"/>
		<!-- 连接用户名 -->
		<property name="user" value="${user}"/>
		<!-- 连接密码 -->
		<property name="password" value="${password}"/>
		<!-- 连接的其它调优信息 -->
	</bean>
	<!-- 3、配置模板 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 4、扫描注解类 DAO SERVICE-->
	<context:component-scan base-package="com.exercise"/>
	
	<!-- 5、平台事务管理器 -->
	<!-- 5.1 事务管理器 -->
	<!-- id属性若不写，默认为transactionManager -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 5.2 通知 -->
	<!-- transaction-manager属性若不写，默认为transactionManager -->
	<!-- propagation属性若不写，默认为REQUIRED -->
	<!-- <tx:advice id="myAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="transfer" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice> -->
	
	<!-- 5.3 切面设置 -->
	<!-- <aop:config>
		<aop:pointcut id="pc" expression="execution(* com.exercise.service..*.*(..))"></aop:pointcut>
		<aop:advisor advice-ref="myAdvice" pointcut-ref="pc"></aop:advisor>
	</aop:config> -->
	
	<!-- 5.* 注解声明事务 -->
	<!--对标注@Transactional注解的Bean进行加工处理,以织入事物管理切面 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>